{% extends 'backend_layout.html' %}

{% block css %}

{% endblock %}
{% block conent %}
<ol class="breadcrumb">
    <li><a href="#">舉報管理</a></li>
    <li class="active">舉報列表</li>
</ol>
<div>


    <div style="height: 35px;background-color: #f5f5f5;line-height: 35px;padding: 0 15px;">
        <i class="fa fa-table" aria-hidden="true"></i>
        舉報列表
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>標題</th>
            <th>狀態</th>
            <th>類型</th>
            <th>舉報者</th>
            <th>文章</th>
            <th>時間</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for row in result %}
        <tr id="{{ row.id }}">
            <td>{{ row.title }}</td>
            {%for item in row.status_choices%}
            {%if item.0 == row.report_status%}
            <td>{{ item.1 }}</td>
            {%endif%}
            {%endfor%}
            {%for item in row.type_choices%}
            {%if item.0 == row.report_type%}
            <td>{{ item.1 }}</td>
            {%endif%}
            {%endfor%}
            <td>{{ row.reporter.nickname }}</td>
            <td>{{ row.article_id }}</td>
            <td>{{ row.ctime }}</td>

            <td>
                <!--<a class="btn btn-danger btn-xs" onclick="del('{{ row.id }}',this)">-->
                    <!--<i class="fa fa-times" aria-hidden="true"></i>-->
                    <!--删除文章-->
                <!--</a>-->
                <!--|-->
                <a class="btn btn-primary btn-xs" href="/backend/edit-article-{{ row.article_id.nid }}.html">

                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    编辑文章
                </a>
                |
                <a class="btn btn-primary btn-xs" href="/backend/edit-report-{{ row.id }}.html">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    编辑舉報
                </a>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="clearfix">
        <ul class="pagination right" style="margin-top: 0">
            {{ page_str }}
        </ul>
    </div>
</div>


{% endblock %}

{% block js %}
<script>
    function del(nid, that) {
        if (confirm("確定刪除?")) {
            $.ajax({
                url: "del-tag.html",
                type: "post",
                dataType: "json",
                data: {"nid": nid},
                success: function (arg) {

                    if (arg.error) {
                        alert("刪除分類錯誤");

                    } else {

                        $(that).parent().parent().remove();


                    }
                }
            })
        }
    }






</script>
{% endblock %}